<table class="tg">
                  <tr>
                    <th class="tg-031e" colspan="2">Raw Materials Requisition Note</th>
                    <th class="tg-031e">RMRIN No........................</th>
                  </tr>
                  <tr>
                    <td class="tg-031e">To: STORE DEPARTMENT</td>
                    <td class="tg-031e">FROM: PRODUCTION DEPARTMENT</td>
                    <td class="tg-031e">DATE: {{ received_note.updated }}</td>
                  </tr>
                  <tr>
                    <td class="tg-031e" colspan="3">Kindy issue the following Raw Materials as per details given
                    below</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l" colspan="3"><p>Name of Product:                    Strength:              </p></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l" colspan="3">Batch No:        Batch Size:         Mfg.Date:</td>
                  </tr>
                </table>



<table class="tg">
                  <tr>
                    <th class="tg-031e" rowspan="2"></th>
                    <th class="tg-031e" rowspan="2"></th>
                    <th class="tg-031e" rowspan="2"></th>
                    <th class="tg-yw4l" colspan="3"></th>
                    <th class="tg-yw4l"></th>
                    <th class="tg-yw4l"></th>
                  </tr>
                  <tr>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-031e"></td>
                    <td class="tg-031e"></td>
                    <td class="tg-031e"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-031e"></td>
                    <td class="tg-031e"></td>
                    <td class="tg-031e"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-031e"></td>
                    <td class="tg-031e"></td>
                    <td class="tg-031e"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l"></td>
                  </tr>
                </table>